{% load static %}
<div class="cart-grid-right col-xs-12 col-lg-3">
    <div class="cart-summary test">
        <div class="cart-detailed-totals">
            <div class="cart-summary-products">
                <div class="summary-label">There are {{totalitem}} item in your cart</div>
            </div>
            <div class="cart-summary-line" id="cart-subtotal-products">
                <span class="label js-subtotal">
                    Total products:
                </span>
                <span class="value">{{totalproduct}}</span>
            </div>
            <div class="cart-summary-line" id="cart-subtotal-shipping">
                <span class="label">
                    Total Shipping:
                </span>
                <span class="value">Free</span>
                <div>
                    <small class="value"></small>
                </div>
            </div>
            <div class="cart-summary-line cart-total">
                <span class="label">Total:</span>
                <span class="value">£{{totalamount}} (tax incl.)</span>
            </div>
        </div>
    </div>
    <div id="block-reassurance">
        <ul>
            <li>
                <div class="block-reassurance-item">
                    <img src="{% static 'img/product/check1.png' %}"
                        alt="Security policy (edit with Customer reassurance module)">
                    <span>Security policy (edit with Customer reassurance module)</span>
                </div>
            </li>
            <li>
                <div class="block-reassurance-item">
                    <img src="{% static 'img/product/check2.png' %}"
                        alt="Delivery policy (edit with Customer reassurance module)">
                    <span>Delivery policy (edit with Customer reassurance module)</span>
                </div>
            </li>
        </ul>
    </div>
</div>