{% extends 'layouts.html' %}
{% load static %}
{% block 'mainsection' %}
<script>
    function validateForm() {
        var address = document.forms["customer-form"]["address"].value;
        var area = document.forms["customer-form"]["Area"].value;
        var city = document.forms["customer-form"]["City"].value;
        var state = document.forms["customer-form"]["State"].value;
        var pinCode = document.forms["customer-form"]["PinCode"].value;
        var country = document.forms["customer-form"]["Country"].value;
        var payment1 = document.getElementById("payment1").checked;
        var payment2 = document.getElementById("payment2").checked;

        if (address == "" || area == "" || city == "" || state == "" || pinCode == "" || country == "") {
            alert("All fields must be filled out");
            return false;
        }

        if (!payment1 && !payment2) {
            alert("Please select a payment method");
            return false;
        }

        return true;
    }
</script>

<div id="checkout" class="main-content">
    <div class="wrap-banner">
        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="{% url 'index' %}">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'checkout' %}">
                                <span>Checkout</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>

        <!-- main -->
        <div id="wrapper-site">
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <div id="main">
                            <div class="cart-grid row">
                                <div class="col-md-9 check-info">
                                    <div class="checkout-personal-step">
                                        <h3 class="step-title h3 info">
                                            <span class="step-number"></span>Address
                                        </h3>
                                    </div>
                                    <div class="content">

                                        <div class="tab-content">
                                            <div class="tab-pane fade in active show" id="checkout-guest-form"
                                                role="tabpanel">
                                                <form action="" id="customer-form" class="js-customer-form"
                                                    method="post">
                                                    {% csrf_token %}
                                                    <div>
                                                        <input type="hidden" name="id_customer" value="">
                                                        <div class="form-group row">
                                                            <input class="form-control" name="address" type="address"
                                                                placeholder="Street Address" required>
                                                        </div>
                                                        <div class="form-group row">
                                                            <input class="form-control" name="Area" type="Area"
                                                                placeholder="Area" required>
                                                        </div>
                                                        <div class="form-group row">
                                                            <input class="form-control" name="City" type="City"
                                                                placeholder="City" required>
                                                        </div>
                                                        <div class="form-group row">
                                                            <input class="form-control" name="State" type="State"
                                                                placeholder="State" required>
                                                        </div>
                                                        <div class="form-group row">

                                                            <input class="form-control" name="PinCode" type="PinCode"
                                                                placeholder="PinCode" required>



                                                        </div>
                                                        <div class="form-group row">
                                                            <input class="form-control" name="Country" type="Country"
                                                                placeholder="Country" required>
                                                        </div>
                                                        <h3 class="step-title h3 info">
                                                            <span class="step-number"></span>Payment
                                                        </h3>
                                                    </br>
                                                        <div class="form-group row">
                                                            <input type="radio" id="payment1" name="COD" value="COD" checked required>
                                                            <label for="payment1">Cash On Delivery</label>
                                                        </div>
                                                        <div class="form-group row">
                                                            <input type="radio" id="payment2" name="Card" value="Card" disabled>
                                                            <label for="Card">Card(Coming soon!)</label>
                                                        </div>


                                                    </div>
                                                    <div>
                                                        <button
                                                            style="background-color: black;padding-bottom: 5px;color:white"
                                                            class="btn" type="submit">Proceed</button>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="checkout-personal-step">
                                        <h3 class="step-title h3 info">
                                            <span class="step-number"></span>Payment
                                        </h3>
                                    </div> -->
                                    <!-- <div class="content">

                                        <div class="tab-content">
                                            <div class="tab-pane fade in active show" id="checkout-guest-form"
                                                role="tabpanel">
                                                <form action="#" id="customer-form" class="js-customer-form"
                                                    method="post">
                                                    <div>

                                                        <div class="form-group row">
                                                            <div class="col-12">
                                                                <input type="radio" id="payment1" name="COD" value="COD">
                                                                <label for="payment1">Cash On Delivery</label>
                                                            </div>
                                                            <div class="col-12">
                                                                <input type="radio" id="payment2" name="Card" value="Card">
                                                                <label for="Card">Card</label>    
                                                            </div>
                                                            <div class="col-12">
                                                                <input type="radio" id="payment3" name="UPI" value="UPI">
                                                                <label for="UPI">UPI</label>   
                                                            </div>
                                                            
                                                            
                                                            
                                                        </div>

                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="row">
                                            <input type="hidden" name="submitCreate" value="1">

                                            <button class="continue btn btn-primary pull-xs-right" name="continue"
                                                data-link-action="register-new-customer" type="submit" value="1">
                                                Proceed
                                            </button>
                                        </div>
                                    </div> -->
                                </div>
                                {% include 'checkout/cartsummary.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}