{% extends 'layouts.html' %}
{% load static %}
{% block 'mainsection' %}


<div id="checkout" class="main-content">
    <div class="wrap-banner">

        <!-- main -->
        <div id="wrapper-site">
            <div style="margin:0px; min-width: 100%;" class="container">
                <div class="row">
                    <div class="orderheader col-12">Order Completed</div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div>
                        <div class="ordersummary">Order Summary</div>
                        <hr/>
                      
                    </div>
                    <div class="col-2"></div>
                    </div>

                   
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        Hi Naaz,
                    </div>
                    <!-- <h3>Your order has been confirmed and will be delivered soon</h3> -->
                    <div class="col-2"></div>
                    <div class="col-2"></div>

                    <div class="col-8">Your order has been confirmed and will be delivered soon</div>
                    
                    <div class="col-2"></div>
                    </div>

                   
                </div>
                
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-2">
                        <span style="display:block">
                            Order Date
                        </span>
                        <span style="display:block">
                            1233
                        </span>
                    </div>
                    <div class="col-2">
                        <span style="display:block">
                            Order Date
                        </span>
                        <span style="display:block">
                            1233
                        </span>
                    </div>
                    <div class="col-2">
                        <span style="display:block">
                            Order Date
                        </span>
                        <span style="display:block">
                            1233
                        </span>
                    </div>
                    <div class="col-2">
                        <span style="display:block">
                            Order Date
                        </span>
                        <span style="display:block">
                            1233
                        </span>
                    </div>
                    <div class="col-2">

                    </div>
                    <!-- <div class="col-8">
                        <div>
                        <div class="ordersummary">Order Summary</div>
                        <hr/>
                      
                    </div>
                    <div class="col-2"></div>
                    </div> -->

                   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}