{% extends 'layouts.html' %}
{% load static %}
{% block 'mainsection' %}

<style>


    .orderheader {
        background-color: #4CAF50;
        color: white;
        padding: 5px;
        text-align: center;
        border-radius: 8px 8px 0 0;
    }
    .ordersummary {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .col-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
        padding: 5px;
    }
    .col-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
        padding: 5px;
    }
    .total-amount {
        font-size: 1.5em;
        font-weight: bold;
        color: #d9534f;
    }
    .product-line-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
    .product-image {
        width: 100px;
        height: auto;
        margin-right: 20px;
    }
    .product-line-info {
        margin-bottom: 10px;
    }
    .product-price {
        font-weight: bold;
    }
    .label {
        font-weight: bold;
    }
    .quantity, .total {
        font-weight: bold;
    }
</style>

<div id="checkout" class="main-content">
    <div class="wrap-banner">

        <!-- main -->
        <div id="wrapper-site">
            <div style="margin:0px; min-width: 100%;" class="container">
                <div class="row">
                    <div class="orderheader col-12">Order Completed</div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <div>
                        <div class="ordersummary">Order Summary</div>
                        <hr/>
                      
                    </div>
                    <div class="col-2"></div>
                    </div>

                   
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        Hi {{ request.user.first_name }},
                    </div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-8">Your order has been confirmed and will be delivered soon</div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2">
                        <span style="display:block">Order Date</span>
                        <span style="display:block">{{ order.date }}</span>
                    </div>
                    <div class="col-2">
                        <span style="display:block">Order ID</span>
                        <span style="display:block">{{ order.id }}</span>
                    </div>
                    <div class="col-2">
                        <span style="display:block">Payment Type</span>
                        <span style="display:block">{{ order.paymenttype }}</span>
                    </div>
                    <div class="col-2">
                        <span style="display:block">Total Amount</span>
                        <span class="total-amount" style="display:block">${{ total_amount }}</span>
                    </div>
                    
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <h3>Order Items</h3>
                        <ul>
                            {% for item in order_items %}
                                <li>
                                    <div class="product-line-grid row justify-content-between">
                                        <div class="product-line-grid-left col-md-2">
                                            <span class="product-image media-middle">
                                                <img class="img-fluid" src="{{ item.image_url }}" alt="{{ item.item_name }}">
                                            </span>
                                        </div>
                                        <div class="product-line-grid-body col-md-6">
                                            <div class="product-line-info">
                                                <span class="label">{{ item.item_name }}</span>
                                            </div>
                                            <div class="product-line-info product-price">
                                                <span class="value">${{ item.single_amount }}</span>
                                            </div>
                                        </div>
                                        <div class="product-line-grid-right text-center product-line-actions col-md-4">
                                            <div class="row">
                                                <div class="col-md-3 col qty">
                                                    <div class="label">Qty:</div>
                                                    <div class="quantity">{{ item.quantity }}</div>
                                                </div>
                                                <div class="col-md-3 col price">
                                                    <div class="label">Total:</div>
                                                    <div class="product-price total">${{ item.amount }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}