{% extends 'layouts.html' %}
{% load static %}
{% block 'mainsection' %}
<!-- main content -->
<div class="main-content" id="cart">
    <!-- main -->
    <div id="wrapper-site">
        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="#">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Shopping Cart</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                    <section id="main">
                        <div class="cart-grid row">
                            <div class="col-md-9 col-xs-12 check-info">
                                <h1 class="title-page">Shopping Cart</h1>
                                <div class="cart-container">
                                    <div class="cart-overview js-cart">
                                        <ul class="cart-items">
                                            {% for item in cartInfo %}
                                            <li class="cart-item">
                                                <div class="product-line-grid row justify-content-between">
                                                    <!--  product left content: image-->
                                                    <div class="product-line-grid-left col-md-2">
                                                        <span class="product-image media-middle">
                                                            <a href="product-detail.html">
                                                                <img class="img-fluid" src="{{item.image.url}}"
                                                                    alt="Organic Strawberry Fruits">
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="product-line-grid-body col-md-6">
                                                        <div class="product-line-info">
                                                            <a class="label" href="product-detail.html"
                                                                data-id_customization="0">{{item.name}}</a>
                                                        </div>
                                                        <div class="product-line-info product-price">
                                                            <span class="value">{{item.amount}}</span>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="product-line-grid-right text-center product-line-actions col-md-4">
                                                        <div class="row">
                                                            <div class="col-md-3 col qty">
                                                                <div class="label">Qty:</div>
                                                                <div class="quantity">
                                                                    {{item.quantity}}

                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col price">
                                                                <div class="label">Total:</div>
                                                                <div class="product-price total">
                                                                    {{item.total_amount}}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 col price">
                                                                <form method="post" action="">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="mapid"
                                                                        value="{{item.id}}">
                                                                    <button style="background-color: inherit;" class="remove" type="submit"><span
                                                                            style="color:red">Remove</span></button>
                                                                </form>
                                                            </div>
                
                                                            <div class="col-md-2 col text-xs-right align-self-end">
                                                                <div class="cart-line-product-actions ">
                                                                    <!-- <form method="post" action="">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="mapid"
                                                                            value="{{item.id}}">
                                                                        <button class="remove" type="submit"><span
                                                                                style="color:red">Remove</span></button>
                                                                    </form> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                           <span style="display: block; height:2px"></span>
                                            {% endfor %}


                                        </ul>
                                    </div>
                                </div>
                                <a href="product-checkout.html" style="background-color: black;padding-bottom: 5px;" class="continue btn btn-primary pull-xs-right">
                                    Continue
                                </a>
                            </div>
                            {% include 'checkout/cartsummary.html' %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}