<html>
    <head>
        <style>
            table {
  width: 25%;
 
  border-collapse: collapse;
}
 
        </style>
    </head>
    <body>
        <h1 style="background-color: green;">
            Order Completed
        </h1>
        <div>
            <table id="customers">
                <tr>
                    <td><b>Order Id</b></td>
                    <td><b>124</b></td>
                </tr>
                <tr>
                    <tr>
                        <td><b>Amount</b></td>
                        <td><b>124</b></td>
                    </tr>
                </tr>
                <tr>
                    <tr>
                        <td><b>Address</b></td>
                        <td><b>67667,Besii</b></td>
                    </tr>
                </tr>
            </table>
        </div>
    </body>
</html>