{% extends 'layouts.html' %}
{% load static %}

{% block 'mainsection' %}
 <!-- main content -->
 <div class="main-content">
    <div class="wrap-banner">
        <!-- menu category -->
        
        <!-- slide show -->
        <div class="section banner">
            <div class="tiva-slideshow-wrapper">
                <div id="tiva-slideshow" class="nivoSlider">
                    <a href="#">
                        <img class="img-responsive" src="{% static 'img/home/img1.jpg' %}" title="#caption1" alt="Slideshow image">
                    </a>
                    <a href="#">
                        <img class="img-responsive" src="{% static 'img/home/d.jpg' %}" title="#caption2" alt="Slideshow image">
                    </a>
                    <a href="#">
                        <img class="img-responsive" src="{% static 'img/home/t.jpeg' %}" title="#caption3" alt="Slideshow image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- main -->
    <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
            <div id="main">
                <section class="page-home">
                    <div class="container">

                        <!-- delivery form -->
                        
                    </div>

                    <!-- product living room -->
<!--                    
                    <div class="container"> -->
                        <!-- banner -->
                        <!-- <div class="section spacing-10 group-image-special col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="effect">
                                        <a href="{% url 'books' %}">
                                            <img class="img-fluid" src="{% static 'img/home/books.jpg' %}" alt="Books" title="Books">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="effect">
                                        <a href="{% url 'journals' %}">
                                            <img class="img-fluid" src="{% static 'img/home/journals.jpg' %}" alt="Journals" title="Journals">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- best seller -->
                        
                    <!-- </div> -->

                    <!-- product kitchen -->
                    

                    <!-- banner -->
                    <div class="container">
                        <div class="section spacing-10 group-image-special col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                

                                    <div class="effect">
                                        <a href="{% url 'books' %}">
                                            .&nbsp;.&nbsp;.&nbsp;
                                            <img class="img-fluid" src="{% static 'img/home/b.jpg' %}" alt="Books" title="Books">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="effect">
                                        <a href="{% url 'journals' %}">
                                            <b><b>.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;.&nbsp;</b></b>
                                            <img class="img-fluid" src="{% static 'img/home/q.jpg' %}" alt="Journals" title="Journals">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- testimonial -->
                        <div class="section testimonial-block col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="block">
                                        <div class="owl-carousel owl-theme testimonial-type-one">
                                            <div class="item type-one d-flex align-items-center flex-column">
                                                <div class="textimonial-image">
                                                    <i class="icon-testimonial"></i>
                                                </div>
                                                <div class="desc-testimonial">
                                                    <div class="testimonial-content">
                                                        <div class="text">
                                                            <p>" Liquam quis risus viverra, ornare ipsum vitae, congue tellus.
                                                                Vestibulum nunc lorem, scelerisque a tristique non, accumsan
                                                                ornare eros. Nullam sapien metus, volutpat dictum, accumsan
                                                                ornare eros. Nullam sapien metus, volutpat dictum "</p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-info">
                                                        <h5 class="mt-0 box-info">David Jame</h5>
                                                        <p class="box-dress">DESIGNER</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item type-one d-flex align-items-center flex-column">
                                                <div class="textimonial-image">
                                                    <i class="icon-testimonial"></i>
                                                </div>
                                                <div class="desc-testimonial">
                                                    <div class="testimonial-content">
                                                        <div class="text">
                                                            <p>" Liquam quis risus viverra, ornare ipsum vitae, congue tellus.
                                                                Vestibulum nunc lorem, scelerisque a tristique non, accumsan
                                                                ornare eros. Nullam sapien metus, volutpat dictum, accumsan
                                                                ornare eros. Nullam sapien metus, volutpat dictum "</p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-info">
                                                        <h5 class="mt-0 box-info">Max Control</h5>
                                                        <p class="box-dress">DEVELOPER</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item type-one d-flex align-items-center flex-column">
                                                <div class="textimonial-image">
                                                    <i class="icon-testimonial"></i>
                                                </div>
                                                <div class="desc-testimonial">
                                                    <div class="testimonial-content">
                                                        <div class="text">
                                                            <p>" Liquam quis risus viverra, ornare ipsum vitae, congue tellus.
                                                                Vestibulum nunc lorem, scelerisque a tristique non, accumsan
                                                                ornare eros. Nullam sapien metus, volutpat dictum, accumsan
                                                                ornare eros. Nullam sapien metus, volutpat dictum "</p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-info">
                                                        <h5 class="mt-0 box-info">John Do</h5>
                                                        <p class="box-dress">CSS - HTML</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item type-one d-flex align-items-center flex-column">
                                                <div class="textimonial-image">
                                                    <i class="icon-testimonial"></i>
                                                </div>
                                                <div class="desc-testimonial">
                                                    <div class="testimonial-content">
                                                        <div class="text">
                                                            <p>" Liquam quis risus viverra, ornare ipsum vitae, congue tellus.
                                                                Vestibulum nunc lorem, scelerisque a tristique non, accumsan
                                                                ornare eros. Nullam sapien metus, volutpat dictum, accumsan
                                                                ornare eros. Nullam sapien metus, volutpat dictum "</p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-info">
                                                        <h5 class="mt-0 box-info">Elizabeth Pham</h5>
                                                        <p class="box-dress">DEVELOPER</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SHOP THE LOOK -->
                    

                    <!-- recent posts -->
                    <div class="container">
                        

                        <!-- partner -->
                        <!-- <div class="section introduct-logo">
                            <div class="row">
                                <div class="tiva-manufacture  col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="block">
                                        <div id="manufacture" class="owl-carousel owl-theme owl-loaded owl-drag">
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="img/home/icon-logo1.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="img/home/icon-logo2.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="img/home/icon-logo3.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="img/home/icon-logo4.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="img/home/icon-logo5.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="logo-manu">
                                                    <a href="#" title="view products">
                                                        <img class="img-fluid" src="img/home/icon-logo6.jpg" alt="img" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}