{% extends 'layouts.html' %}
{% load static %}

{% block 'mainsection' %}

<style>
#wrapper-site {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

#content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    text-align: center;
}

.form-control-md {
    max-width: 600px; /* Adjust as needed for your design */
    width: 100%; /* Ensures the input field takes up the full width of its container */
    box-sizing: border-box; /* Includes padding and border in the element's total width */
    margin: 0 auto; /* Center horizontally if you have a fixed width */
}

.btn-md {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

</style>

<div class="main-content">
    <div class="wrap-banner">
        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="{% url 'index' %}">
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Login</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
    </div>

    <!-- main -->
    <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
            <div id="main">
                <div class="container">
                    <h1 class="text-center title-page">Log In</h1>
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                    </div>
                  {% endfor %}
                    <div class="login-form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div>
                                <input type="hidden" name="back" value="my-account">
                                <div class="form-group no-gutters mb-3">
                                    <input class="form-control form-control-md" name="username" type="text" placeholder="Username" required>
                                </div>
                                <div class="form-group no-gutters mb-4">
                                    <div class="input-group js-parent-focus">
                                        <input class="form-control js-child-focus js-visible-password form-control-md" name="password" type="password" value="" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="no-gutters text-center">
                                    <div class="forgot-password">
                                        <a href="{% url 'forgotpassword' %}" rel="nofollow">
                                            Forgot your password?
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="text-center no-gutters">
                                    <input type="hidden" name="submitLogin" value="1">
                                    <button class="btn btn-primary btn-md" data-link-action="sign-in" type="submit">
                                        Sign in
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
